{% extends "base.html" %}

{%  block content %}
    <h1>Organisation Details</h1>
    <form action="" method="post" name="organisation">
        {{ form.hidden_tag() }}
        <p>
            Organisation ID:<br>
            {{  form.org_id(size=80) }}
            {% for error in form.org_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>
            SteelConnect URL:<br>
            {{  form.sc_url(size=80) }}
            {% for error in form.sc_url.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>
            SteelConnect Username:<br>
            {{  form.sc_username(size=80) }}
            {% for error in form.sc_username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>
            SteelConnect Password:<br>
            {{  form.sc_password(size=80) }}
            {% for error in form.sc_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
